
<!--The content below is only a placeholder and can be replaced.-->

<div class="container">



  
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Bem vindo</h1>
    <p class="lead">Ao se cadastrar sua conta será alocada como pacote 3 , com o passar do tempo como cliente ativo seu pacote aumenta e também os seus descontos.</p>
  </div>
</div>



<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Cadastre-se</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="nome">Nome</label>  
      <div class="col-md-4">
      <input id="nome" name="nome" type="text" placeholder="" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>  
      <div class="col-md-4">
      <input id="email" name="email" type="text" placeholder="" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="endereco">Endereço</label>  
      <div class="col-md-4">
      <input id="endereco" name="endereco" type="text" placeholder="" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="senha">Senha</label>
      <div class="col-md-4">
        <input id="senha" name="senha" type="password" placeholder="" class="form-control input-md">
        
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    


</div>