<div class="ponto">
<div class="container">
 
    <img src="assets/logo1.png" class="rounded mx-auto d-block" alt="...">
<nav class="navbar navbar-toggleable-md navbar-dark bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PH-Info</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/pagina1">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/serviços1">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/contatos1">Contatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/login1">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
</div>